verif/tb/run_dir/work.sm83_top_tb.wcfg
verif/tb/run_dir/work.sm83_top_tb.wdb
verif/tb/run_dir/xelab.log
verif/tb/run_dir/xelab.pb
verif/tb/run_dir/xsim_9757.backup.jou
verif/tb/run_dir/xsim_9757.backup.log
verif/tb/run_dir/xsim_10605.backup.jou
verif/tb/run_dir/xsim_10605.backup.log
verif/tb/run_dir/xsim_11640.backup.jou
verif/tb/run_dir/xsim_11640.backup.log
verif/tb/run_dir/xsim.jou
verif/tb/run_dir/xsim.log
verif/tb/run_dir/xvlog.log
verif/tb/run_dir/xvlog.pb
verif/tb/run_dir/xsim.dir/work/alu.sdb
verif/tb/run_dir/xsim.dir/work/control.sdb
verif/tb/run_dir/xsim.dir/work/decode.sdb
verif/tb/run_dir/xsim.dir/work/idu.sdb
verif/tb/run_dir/xsim.dir/work/mock_mem.sdb
verif/tb/run_dir/xsim.dir/work/register_file.sdb
verif/tb/run_dir/xsim.dir/work/sm83_core.sdb
verif/tb/run_dir/xsim.dir/work/sm83_pkg.sdb
verif/tb/run_dir/xsim.dir/work/sm83_top_tb.sdb
verif/tb/run_dir/xsim.dir/work/sm83_top.sdb
verif/tb/run_dir/xsim.dir/work/work.rlx
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/Compile_Options.txt
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/TempBreakPointFile.txt
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim_script.tcl
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.dbg
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.mem
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.reloc
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.rtti
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.svtype
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.type
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsim.xdbg
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsimcrash.log
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsimk
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsimkernel.log
verif/tb/run_dir/xsim.dir/work.sm83_top_tb/xsimSettings.ini
**/*.str
**/*.jou
**/*.log
**/*.zip
**/*.lpr